#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix riot-web server
{% for service in matrix_riot_web_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.riot.yml down
ExecStart=docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.riot.yml up
ExecStop=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.riot.yml stop

Restart=always
RestartSec=30
SyslogIdentifier=matrix-riot-web

[Install]
WantedBy=multi-user.target
