#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Coturn server
{% for service in matrix_coturn_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.coturn.yml down
ExecStart=docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.coturn.yml up
ExecStop=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.coturn.yml stop

# This only reloads certificates (not other configuration).
# See: https://github.com/coturn/coturn/pull/236
ExecReload=/usr/bin/docker exec matrix-coturn kill -USR2 1

Restart=always
RestartSec=30
SyslogIdentifier=matrix-coturn

[Install]
WantedBy=multi-user.target

##################################################
