#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix mxisd Identity server
{% for service in matrix_mxisd_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_mxisd_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.mxisd.yml kill
ExecStart=docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.mxisd.yml up
ExecStop=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.mxisd.yml kill

Restart=always
RestartSec=30
SyslogIdentifier=matrix-mxisd

[Install]
WantedBy=multi-user.target

####################################################################

