#jinja2: lstrip_blocks: "True"
[Unit]
Description=Synapse server
{% for service in matrix_synapse_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_synapse_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.synapse.yml kill
ExecStart=/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.synapse.yml up
ExecStop=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.synapse.yml kill

ExecReload=/usr/bin/docker exec matrix-synapse kill -HUP 1
Restart=always
RestartSec=30
SyslogIdentifier=matrix-synapse

[Install]
WantedBy=multi-user.target

##################################################

{% if matrix_s3_media_store_enabled %}
# Allow for some time before starting, so that media store can mount.
# Mounting can happen later too, but if we start writing,
# we'd write files to the local filesystem and fusermount will complain.
ExecStartPre=/bin/sleep 3
{% endif %}
