#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Appservice Discord server
{% for service in matrix_appservice_discord_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_appservice_discord_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill matrix-appservice-discord
ExecStartPre=-/usr/bin/docker rm matrix-appservice-discord

# Intentional delay, so that the homeserver (we likely depend on) can manage to start.
ExecStartPre=/bin/sleep 5

ExecStart=docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.discord.yml up
ExecStop=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.discord.yml stop

Restart=always
RestartSec=30
SyslogIdentifier=matrix-appservice-discord

 [Install]
WantedBy=multi-user.target
