#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Dimension
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.dimension.yml kill
ExecStart=docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.dimension.yml up
ExecStop=-docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.dimension.yml kill

Restart=always
RestartSec=30
SyslogIdentifier=matrix-dimension

[Install]
WantedBy=multi-user.target
