#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Appservice IRC server
{% for service in matrix_appservice_irc_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matrix_appservice_irc_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}

[Service]
Type=simple

ExecStartPre=/bin/sleep 5
ExecStartPre=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.irc.yml down
ExecStart=/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.irc.yml up
ExecStop=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.irc.yml stop

Restart=always
RestartSec=30
SyslogIdentifier=matrix-appservice-irc

[Install]
WantedBy=multi-user.target
