#jinja2: lstrip_blocks: "True"

client_max_body_size 100M;
proxy_max_temp_file_size 0;

{% for configuration_block in matrix_nginx_proxy_proxy_matrix_additional_server_configuration_blocks %}
	{{- configuration_block }}
{% endfor %}

location /.well-known/matrix {
	root {{ matrix_static_files_base_path }};
	expires 4h;
	default_type application/json;
	add_header Access-Control-Allow-Origin *;
}

location /_synapse/admin {
	client_body_buffer_size 25M;
	client_max_body_size 10M;
}

location / {
	rewrite ^/$ /_matrix/static/ last;
}