#jinja2: lstrip_blocks: "True"
[Unit]
Description=Matrix Postgres server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStartPre=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.postgres.yml down
ExecStart=/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.postgres.yml up
ExecStop=-/usr/bin/docker-compose -f /var/lib/docker/lab/apps/matrix/docker-compose.postgres.yml stop

Restart=always
RestartSec=30
SyslogIdentifier=matrix-postgres

[Install]
WantedBy=multi-user.target
